{% extends "base.html" %}

{% block content %}
<div class="row mb-4">
    <div class="col-12">
        <div class="card">
            <div class="card-body bg-info">
                <h5 class="card-title text-white">E-posta İstatistikleri</h5>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <!-- Günlük İstatistikler -->
    <div class="col-md-6 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-info">Günlük Rapor</h5>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="bg-info text-white">Zaman</th>
                                <th class="bg-info text-white">E-posta Sayısı</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for stat in daily_stats %}
                            <tr>
                                <td>{{ stat.date }}</td>
                                <td>{{ stat.count }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Aylık İstatistikler -->
    <div class="col-md-6 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-info">Aylık Rapor</h5>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="bg-info text-white">Ay</th>
                                <th class="bg-info text-white">E-posta Sayısı</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for stat in monthly_stats %}
                            <tr>
                                <td>{{ stat.month }}</td>
                                <td>{{ stat.count }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
